*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.container{
    margin: 50px auto;
    width: 260px;
    overflow: hidden;
}
.input{
    padding: 10px;
    background-color: #eee;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: fit-content;
    align-items: center;
    caret-color: rgb(8, 109, 167);
}
.input input[type="text"]{
    border: none;
    border-radius: 20px;
    padding: 10px;
}
.input input[type="text"]:focus{
    outline: none;
}
.input input[type="text"]::placeholder{
    transition: 0.5s;
}
.input input[type="text"]:focus::placeholder{
    opacity: 0;
}
.input input[type= "submit"]{
    border: none;
    width: 50px;
    height: 30px;
    background-color: rgb(8, 109, 167);
    border-radius: 12px;
    margin: 5px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.input input[type= "submit"]:hover{
    background-color: rgb(4, 73, 113);
}
.tasks{
    background-color: #eee;
    margin: 16px auto;
    border-radius: 20px;
    padding: 20px;
    padding-top: 50px;
}
.tasks .task{
    padding: 8px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    font-size: 14px;
    cursor: pointer;
}
.tasks .task.delete{
    display: none;
}

.tasks .task.completed span{
    text-decoration: line-through;
    color: #777;
    font-size: 12px;
}
.tasks .task button{
    border: none;
    background-color: #e91e63;
    color: white;
    padding: 5px;
    border-radius: 12px;
    font-size: 10px;
    transition: 0.5s;
    cursor: pointer;
    font-weight: bold;
}
.tasks .task button:hover{
    background-color: #cc1150;
}
.tasks .task button::selection{
    background-color: #cc1150;
    
}
.no-tasks{
    font-size: 14px;
    color: #777;
    margin: 10px auto;
    text-align: center;
}
.no-tasks.hide{
    display: none;
}
.controlers{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    position: absolute;
    top: 92px;
    width: 222px;
}
.controlers span{
    font-size: 10px;
    color: white;
    background-color: #cc1150;
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.5s;
}
.controlers span:hover{
    background-color: #9b0437;
}
.controlers span:last-child{
    background-color: rgb(8, 109, 167);
}
.controlers span:last-child:hover{
    background-color: rgb(4, 82, 126);
}
.count-box{
    padding: 10px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #777;
}
.count-box .tasks-num span,
.count-box .tasks-completed span{
    color: white;
    width: 20px;
    height: 16px;
    margin-left: 5px;
    display: inline-block;
    text-align: center;
}
.count-box .tasks-num span{
    background-color: #e91e63;
}
.count-box .tasks-completed span{
    background-color: rgb(8, 109, 167);
}
.error{
    position: absolute;
    background-color: #eee;
    padding: 25px;
    width: 400px;
    position: absolute;
    right: 0;
    top: 14%;
    box-shadow: 0px 0px 5px #ddd;
    transition: transform 1s;
    transform: translateX(400px);
}
.error span{
    position: absolute;
    top: 14px;
    left: 50%;
    transform: translateX(-92%);
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.error p{
    color:#777;
    text-align: center;
}
.error button{
    position: absolute;
    top: 8px;
    left: 12px;
    color: #e91e63;
    font-weight: bold;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.error.two{
    left: 0;
    transform: translateX(-400px);
}
.error.show{
    transform: translateX(0);
}
.error.vibr{
    animation: vibr 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.error.two button{
    left: 0;
    margin-left: auto;
    right: 0;
    width: fit-content;
}
@keyframes vibr{
    0%{
        transform: translate(0px , 10px);
    }
    10%{
        transform: translate(0px , -10px);
    }
    20%{
        transform: translate(0px , 10px);
    }
    30%{
        transform: translate(0px , -10px);
    }
    40%{
        transform: translate(0px , 10px);
    }
    50%{
        transform: translate(0px , -10px);
    }
    60%{
        transform: translate(0px , 10px);
    }
    70%{
        transform: translate(0px , -10px);
    }
    80%{
        transform: translate(0px , 10px);
    }
    90%{
        transform: translate(0px , -10px);
    }
    100%{
        transform: translate(0px , 0px);
    }
}